<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  
<head> 
	<title>CafeDaManhaApp</title>
</head>
<body>

	<h1>Cadastro Cafe da Manha:</h1>
	<form method="post">
		Nome: <input type="text" value="" name="nome"/>
		Cpf: <input type="text" value="" name="cpf"/>
		Data: <input type="date" value="" name="data"/>
		Trazer: <input type="text" value="" name="trazer"/>
		
		<button type = "submit">Salvar</button>
		
	</form>

</body>

</html>